{% block header_ficha %}
    {% include 'topo_edicao_ficha.html' %}
{% endblock %}

<div id="fichaMulherIdadeFertil" class="ficha fichaContornada mb-3">
    {% csrf_token %}
    <input id="codigo" type="number" aria-label="" value="{{ ficha.codigo }}" hidden>
    <div class="d-flex align-items-center justify-content-between">
        <div class="col-8 d-flex flex-column">
            <label>Fichas de investigação de óbito de <b>mulher em idade fértil - MIF</b></label>
            <label>Identificação de possível óbito materno</label>            
        </div>
        <div class="col-3 d-flex justify-content-end">
            <div class="container-ano col-7 d-flex align-items-center">
                <label for="ano">Ano:</label>
                <input id="ano" type="number" class="form-control mx-2"
                    min="0" width="50px"
                    {% if ficha.ano != "0" %}
                        value="{{ ficha.ano }}"
                    {% endif %}
                />
            </div>
            <div class="divFundoVerde d-grid col-3 justify-content-center py-2">
                <label class="negrito">MIF</label>
            </div>
        </div>
    </div>
    <div class="bloco">
        <div class="d-flex mt-2">
            <span class="titulo-bloco negrito">
                I. Identificação do óbito
            </span>
        </div>
        <div class="conteudo-bloco px-2">
            <div class="linha-dados align-items-center">
                <div class="col-12 d-flex align-items-center">
                    <span class="numeracao negrito">1</span>
                    <label for="campo-nome-paciente" class="negrito mx-1">Nome</label>
                    <input id="campo-nome-paciente" class="form-control input-dado mx-1"
                        value="{{ ficha.nome_paciente }}"/>
                </div>
            </div>
            <div class="linha-dados align-items-center">
                <div class="col-6 d-flex align-items-center">
                    <span class="numeracao negrito">2</span>
                    <label for="num_DO" class="negrito label-nowrap mx-1">
                        N° da DO
                    </label>
                    <input id="num_DO" class="form-control input-dado mx-1"
                        type="number" min="0"
                        {% if ficha.num_DO != "0" %}
                            value="{{ ficha.num_DO }}"
                        {% endif %}
                    />
                </div>
                <div class="col-6 d-flex align-items-center colADireita">
                    <span class="numeracao negrito">3</span>
                    <label for="idade" class="negrito mx-1">Idade</label>
                    <input id="idade" class="form-control input-dado mx-1"
                        type="number" min="0" style="width: 50px;"
                        {% if ficha.idade != "0" %}
                            value="{{ ficha.idade }}"
                        {% endif %}
                    />
                    <span>anos</span>
                </div>
            </div>
            <div class="linha-dados align-items-center">
                <div class="col-6 d-flex align-items-center">
                    <span class="numeracao negrito">4</span>
                    <label for="dt_obito" class="negrito label-nowrap mx-1">
                        Data do óbito
                    </label>
                    <input id="dt_obito" type="date"
                        class="form-control input-dado mx-1"
                        value="{{ ficha.dt_obito }}"
                    />
                </div>
                <div class="col-6 d-flex align-items-center colADireita">
                    <span class="numeracao negrito">5</span>
                    <label for="hora_obito" class="negrito mx-1">
                        Hora do óbito
                    </label>
                    <input id="hora_obito" class="form-control input-dado mx-1" 
                        style="width: 55px;" placeholder="00:00"
                        value="{{ ficha.hr_obito }}"
                    />
                </div>
            </div>
            <div class="linha-dados align-items-center">
                <div class="col-6 d-flex align-items-center">
                    <span class="numeracao negrito">6</span>
                    <label for="campo-dt-nascimento" class="negrito label-nowrap mx-1">
                        Data do Nascimento
                    </label>
                    <input id="campo-dt-nascimento" type="date"
                        class="form-control input-dado mx-1"
                        value="{{ ficha.dt_nascimento }}"
                    />
                    <span class="spanLGN">lgn</span>
                </div>
                <div class="col-6 d-flex flex-column colADireita">
                    <div>
                        <span class="numeracao negrito">7</span>
                        <label for="raca-branca" class="negrito mx-1">
                            Raça/Cor da pele
                        </label>
                    </div>
                    <div class="d-flex align-items-center letra-miuda mt-2 mx-1" style="flex-wrap: wrap;">
                        <div class="form-check m-0 mx-2">
                            <input class="form-check-input" type="radio"
                                name="raca" id="raca-branca" value="raca-branca"
                                {% if ficha.btn_raca == "raca-branca" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="raca-branca">
                                Branca
                            </label>
                        </div>
                        <div class="form-check m-0 mx-2">
                            <input class="form-check-input" type="radio"
                                name="raca" id="raca-preta" value="raca-preta"
                                {% if ficha.btn_raca == "raca-preta" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="raca-preta">
                                Preta
                            </label>
                        </div>
                        <div class="form-check m-0 mx-2">
                            <input class="form-check-input" type="radio"
                                name="raca" id="raca-amarela" value="raca-amarela"
                                {% if ficha.btn_raca == "raca-amarela" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="raca-amarela">
                                Amarela
                            </label>
                        </div>
                        <div class="form-check m-0 mx-2">
                            <input class="form-check-input" type="radio"
                                name="raca" id="raca-parda" value="raca-parda"
                                {% if ficha.btn_raca == "raca-parda" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="raca-parda">
                              Parda
                            </label>
                        </div>
                        <div class="form-check m-0 mx-2">
                            <input class="form-check-input" type="radio"
                                name="raca" id="raca-indigena" value="raca-indigena"
                                {% if ficha.btn_raca == "raca-indigena" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="raca-indigena">
                                Indígena
                            </label>
                        </div>
                        <span class="spanLGN">lgn</span>
                    </div>
                </div>
            </div>
            <div class="linha-dados align-items-center">
                <div class="d-flex justify-content-center">
                    <span class="negrito label-nowrap mx-2">
                        Se indígena:
                    </span>
                </div>
                <div class="col d-flex align-items-center colADireita">
                    <div class="col-12 d-flex align-items-center colADireita">
                        <span class="numeracao negrito">7.1</span>
                        <label for="etnia" class="negrito label-nowrap mx-1">
                            Informe a etnia:
                        </label>
                        <input id="etnia" class="form-control input-dado mx-1"
                            value="{{ ficha.etnia }}"/>
                    </div>
                </div>
            </div>
            <div class="linha-dados align-items-center">
                <div class="col d-flex align-items-center colADireita"
                        style="margin-left: 107px;">
                    <div class="col-9 d-flex align-items-center">
                        <span class="numeracao negrito">7.2</span>
                        <label for="aldeia" class="negrito label-nowrap mx-1">
                            Informe a aldeia:
                        </label>
                        <input id="aldeia" class="form-control input-dado mx-1"
                            value="{{ ficha.aldeia }}"/>
                    </div>
                    <div class="col-3">
                        <div class="form-check m-0 mx-2">
                            <input id="radio-nao-aldeada" class="form-check-input"
                                type="checkbox" name="aldeado"
                                {% if ficha.nao_aldeado == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="radio-nao-aldeada">
                                Não aldeada
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linha-dados align-items-center">
                <div class="col-12">
                    <div class="d-flex align-items-center">
                        <span class="numeracao negrito">8</span>
                        <label for="endereco-residencia" class="negrito mx-1">
                            Endereço de Residência
                        </label>
                    </div>
                    <input id="endereco-residencia" class="form-control input-dado mt-1 mx-1"
                        value="{{ ficha.endereco_residencia }}"/>
                </div>
            </div>
            <div class="linha-dados align-items-center">
                <div class="col-11 d-flex align-items-center">
                    <span class="numeracao negrito">9</span>
                    <label for="campo-municipio-residencia" class="negrito label-nowrap mx-1">
                        Município de Residência
                    </label>
                    <input id="campo-municipio-residencia" class="form-control input-dado mx-1"
                        value="{{ ficha.municipio_residencia }}"/>
                </div>
                <div class="d-flex align-items-center">
                    <label for="campo-uf-residencia" class="negrito mx-1">UF</label>
                    <input id="campo-uf-residencia" class="form-control input-dado mx-1"
                        value="{{ ficha.uf_residencia }}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="bloco mt-3">
        <div class="d-flex">
            <span class="titulo-bloco negrito">
                II. Identificação de possível óbito materno
            </span>
        </div>
        <div class="conteudo-bloco px-2">
            <div class="linha-dados flex-column">
                <div class="d-flex fundo-cinza align-items-center py-1">
                    <span class="numeracao fundo-cinza negrito">10</span>
                    <label class="negrito mx-1">
                        Fontes de informação consultadas durante a investigação da MIF
                    </label>
                </div>
                <div class="container-input-dado d-flex justify-content-around mt-2">
                    <ul class="mx-1">
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox"
                                id="op-entrev-domiciliar"
                                {% if ficha.fonte_entrev_domic == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-entrev-domiciliar">
                                Entrevista domiciliar
                            </label>
                        </li>
                        <li class="form-check mt-1">
                            <input class="form-check-input" type="checkbox"
                                id="op-laudoSVO"
                                {% if ficha.fonte_laudo_svo == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-laudoSVO">
                                Laudo de SVO
                            </label>
                        </li>
                    </ul>
                    <ul class="mx-2">
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox"
                                id="op-prontuario-hospitalar"
                                {% if ficha.fonte_pront_hosp == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-prontuario-hospitalar">
                                Prontuário hospitalar
                            </label>
                        </li>
                        <li class="form-check mt-1">
                            <input class="form-check-input" type="checkbox"
                                id="op-entrev-prof-saude"
                                {% if ficha.fonte_entrev_prof == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-entrev-prof-saude">
                                Entrevista com profissional de saúde
                            </label>
                        </li>
                    </ul>
                    <ul class="mx-2">
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox"
                                id="op-prontuario-ambulatorial"
                                {% if ficha.fonte_pront_ambul == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-prontuario-ambulatorial">
                                Prontuário ambulatorial
                            </label>
                        </li>
                        <li class="form-check mt-1">
                            <input class="form-check-input" type="checkbox"
                                id="op-sisprenatal"
                                {% if ficha.fonte_sisprenatal == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-sisprenatal">
                                SISPRENATAL
                            </label>
                        </li>
                    </ul>
                    <ul class="mx-2">
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox"
                                id="op-laudoIML"
                                {% if ficha.fonte_laudo_iml == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-laudoIML">
                                Laudo IML
                            </label>
                        </li>
                        <li class="form-check mt-1">
                            <input class="form-check-input" type="checkbox"
                                id="op-fonte-info-outro"
                                {% if ficha.fonte_outro == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-fonte-info-outro">
                                Outro (especifique):
                            </label>
                        </li>
                    </ul>
                    <ul class="mx-2">
                        <li class="form-check">
                            <input class="form-check-input" type="checkbox" id="op-sinasc"
                                {% if ficha.fonte_sinasc == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-sinasc">
                                Sinasc
                            </label>
                        </li>
                        <input id="fonte-info-outro" class="form-control input-dado"
                            value="{{ ficha.fonte_outro_descricao }}">
                    </ul>
                </div>
            </div>
            <div class="linha-dados flex-column">
                <div class="d-flex fundo-cinza align-items-center py-1">
                    <span class="numeracao negrito">11</span>
                    <label class="negrito mx-1">
                        A morte ocorreu:
                    </label>
                </div>
                <div class="container-input-dado d-flex justify-content-around mt-2">
                    <ul class="mx-2">
                        <li class="form-check m-0 mx-2">
                            <input id="op-gestacao" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-gestacao"
                                {% if ficha.momento_morte == "op-gestacao" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-gestacao">
                                1. Durante a gestação
                            </label>
                        </li>
                        <li class="form-check m-0 mx-2 mt-2">
                            <input id="op-abortamento" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-abortamento"
                                {% if ficha.momento_morte == "op-abortamento" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-abortamento">
                                2. Durante o abortamento
                            </label>
                        </li>
                    </ul>
                    <ul class="mx-2">
                        <li class="form-check m-0 mx-2">
                            <input id="op-apos-abortamento" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-apos-abortamento"
                                {% if ficha.momento_morte == "op-apos-abortamento" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-apos-abortamento">
                                3. Após o abortamento
                            </label>
                        </li>
                        <li class="form-check m-0 mx-2 mt-2">
                            <input id="op-parto" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-parto"
                                {% if ficha.momento_morte == "op-parto" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-parto">
                                4. No parto ou até 1 hora após o parto
                            </label>
                        </li>
                    </ul>
                    <ul class="mx-2">
                        <li class="form-check m-0 mx-2">
                            <input id="op-42d-parto" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-42d-parto"
                                {% if ficha.momento_morte == "op-42d-parto" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-42d-parto">
                                5. Até 42 dias após o parto
                            </label>
                        </li>
                        <li class="form-check m-0 mx-2 mt-2">
                            <input id="op-43d-1ano-parto" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-43d-1ano-parto"
                                {% if ficha.momento_morte == "op-43d-1ano-parto" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-43d-1ano-parto">
                                6. Até 43 dias a 1 ano após o parto
                            </label>
                        </li>
                    </ul>
                    <ul class="mx-2">
                        <li class="form-check m-0 mx-2">
                            <input id="op-NDA" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-NDA"
                                {% if ficha.momento_morte == "op-NDA" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-NDA">
                                7. Não ocorreu nestes períodos (
                                    <span class="fundo-cinza">vá para </span>
                                    <span class="numeracao">13</span>
                                )
                            </label>
                        </li>
                        <li class="form-check m-0 mx-2 mt-2">
                            <input id="op-nao-identificado" class="form-check-input"
                                type="radio" name="morte-ocorreu" value="op-nao-identificado"
                                {% if ficha.momento_morte == "op-nao-identificado" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-nao-edentificado">
                                8. Momento do óbito não identificado
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="linha-dados flex-column">
                <div class="d-flex fundo-cinza justify-content-between align-items-center py-1">
                    <div class="d-flex align-items-center">
                        <span class="numeracao negrito">12</span>
                        <label class="negrito mx-1">
                            A morte foi devido à causa externa?
                        </label>
                        <div class="form-check m-0 mx-2 pt-1">
                            <input id="op-causa-externa-sim" class="form-check-input"
                                type="radio" name="morte-causa-externa"
                                value="op-causa-externa-sim"
                                {% if ficha.morte_causa_ext == "op-causa-externa-sim" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-causa-externa-sim">
                                Sim (responda as questões 
                                "<span class="numeracao">A</span>" e 
                                "<span class="numeracao">B</span>")
                            </label>
                        </div>
                        <div class="form-check m-0 mx-2 pt-1">
                            <input id="op-causa-externa-nao" class="form-check-input"
                                type="radio" name="morte-causa-externa"
                                value="op-causa-externa-nao"
                                {% if ficha.morte_causa_ext == "op-causa-externa-nao" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-causa-externa-nao">
                                Não (
                                    <span class="fundo-cinza">vá para </span>
                                    <span class="numeracao">15</span>
                                )
                            </label>
                        </div>
                    </div>
                    <span class="spanLGN">lgn</span>
                </div>
                <div style="margin-left: 20px;">
                    <div class="d-flex align-items-center mt-2">
                        <span class="numeracao label-nowrap negrito">
                            12-A
                        </span>
                        <label class="negrito label-nowrap mx-1">
                            Qual foi a circunstância provável?
                        </label>
                        <div class="form-check m-0 mx-1">
                            <input id="op-circuns-acidente" class="form-check-input"
                                type="radio" name="circunstancia" value="op-circuns-acidente"
                                {% if ficha.circunst_morte == "op-circuns-acidente" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-circuns-acidente">
                                Acidente
                            </label>
                        </div>
                        <div class="form-check m-0 mx-1">
                            <input id="op-circuns-suicidio" class="form-check-input"
                                type="radio" name="circunstancia" value="op-circuns-suicidio"
                                {% if ficha.circunst_morte == "op-circuns-suicidio" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-circuns-suicidio">
                                Suicídio
                            </label>
                        </div>
                        <div class="form-check m-0 mx-1">
                            <input id="op-circuns-homicidio" class="form-check-input"
                                type="radio" name="circunstancia" value="op-circuns-homicidio"
                                {% if ficha.circunst_morte == "op-circuns-homicidio" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-circuns-homicidio">
                                Homicídio
                            </label>
                        </div>
                        <div class="form-check m-0 mx-1">
                            <input id="op-circuns-outro" class="form-check-input"
                                type="radio" name="circunstancia" value="op-circuns-outro"
                                {% if ficha.circunst_morte == "op-circuns-outro" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-circuns-outro">
                                Outro:
                            </label>
                        </div>
                        <input id="circunstancia-outro" class="form-control input-dado mx-1"
                            value="{{ ficha.circunst_morte_outro }}"/>
                        <span class="spanLGN">lgn</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center py-1">
                        <div class="d-flex align-items-center">
                            <span class="numeracao label-nowrap negrito">12-B</span>
                            <label class="negrito label-nowrap mx-1">
                                O estado gravídico-puerperal determinou o óbito?
                            </label>
                            <div class="form-check m-0 mx-2 pt-1">
                                <input id="op-estado-puerperal-sim" class="form-check-input"
                                    type="radio" name="estado-puerperal" value="op-estado-puerperal-sim"
                                    {% if ficha.estado_puerperal == "op-estado-puerperal-sim" %} checked {% endif %}
                                />
                                <label class="form-check-label" for="op-estado-puerperal-sim">
                                    Sim (<span class="fundo-cinza">vá para</span> 
                                    <span class="numeracao">15</span>)
                                </label>
                            </div>
                            <div class="form-check m-0 mx-2 pt-1">
                                <input id="op-estado-puerperal-nao" class="form-check-input"
                                    type="radio" name="estado-puerperal" value="op-estado-puerperal-nao"
                                    {% if ficha.estado_puerperal == "op-estado-puerperal-nao" %} checked {% endif %}
                                />
                                <label class="form-check-label" for="op-estado-puerperal-nao">
                                    Não (<span class="fundo-cinza">vá para</span> 
                                    <span class="numeracao">13</span>)
                                </label>
                            </div>
                        </div>
                        <span class="spanLGN">lgn</span>
                    </div>
                </div>
            </div>
            <div class="linha-dados flex-column">
                <div class="d-flex align-items-center">
                    <span class="numeracao negrito">13</span>
                    <label class="mx-1" style="font-weight: 500;">
                        Anote a <b>sequência de eventos</b> que levou à morte. 
                        Se a causa estiver <b>mal definida</b>, complementar a investigação para sua definição.
                    </label>
                </div>
                <div class="d-flex flex-column mt-2">
                    <div>
                        <div class="form-check m-0">
                            <input id="op-seq-eventos" class="form-check-input"
                                type="checkbox" name="sequencia-eventos"
                                {% if ficha.seq_eventos == "1" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-seq-eventos">
                                Sequência de eventos <b>é igual</b> a DO original (<span class="fundo-cinza">vá para</span> 
                                <span class="numeracao">14</span>)
                            </label>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="col-10 d-flex flex-column">
                            <label for="estado-morbido">
                                a. Doença ou estado mórbido que causou diretamente a morte:
                            </label>
                            <input id="estado-morbido" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido }}"/>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <label>CID-10</label>
                            <input id="estado-morbido-cid10" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido_cid10 }}"/>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="col-10 d-flex flex-column">
                            <label for="estado-morbido-conseq1">
                                b. Devido ou como consequência de:
                            </label>
                            <input id="estado-morbido-conseq1" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido_conseq1 }}"/>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <label>CID-10</label>
                            <input id="conseq1-cid10" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido_cid1 }}"/>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="col-10 d-flex flex-column">
                            <label for="estado-morbido-conseq2">
                                c. Devido ou como consequência de:
                            </label>
                            <input id="estado-morbido-conseq2" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido_conseq2 }}"/>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <label>CID-10</label>
                            <input id="conseq2-cid10" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido_cid2 }}"/>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="col-10 d-flex flex-column">
                            <label for="estado-morbido-conseq3">
                                d. Devido ou como consequência de:
                            </label>
                            <input id="estado-morbido-conseq3" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido_conseq3 }}"/>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center">
                            <label>CID-10</label>
                            <input id="conseq3-cid10" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morbido_cid3 }}"/>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="col-10 d-flex flex-column">
                            <label for="outras-condicoes">
                                II. Outras condições significativas que contribuiram para a morte, 
                                e que não entraram, porém, na cadeia acima.
                            </label>
                            <input id="outras-condicoes" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morb_outra_cond }}"/>
                        </div>
                        <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                            <label>CID-10</label>
                            <input id="outras-condicoes-cid10" class="form-control input-dado mt-1"
                                value="{{ ficha.est_morb_outra_cond_cid }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="linha-dados flex-column">
                <div class="d-flex fundo-cinza justify-content-between align-items-center py-1">
                    <div class="d-flex align-items-center">
                        <span class="numeracao negrito">14</span>
                        <label class="negrito mx-1">
                            A investigação modificou algum dado da DO original?
                        </label>
                        <div class="form-check m-0 mx-4 pt-1">
                            <input id="op-modif-DO-sim" class="form-check-input"
                                type="radio" name="modificacao-DO" value="op-modif-DO-sim"
                                {% if ficha.modif_do == "op-modif-DO-sim" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-modif-DO-sim">
                                Sim (indique as alterações)
                            </label>
                        </div>
                        <div class="form-check m-0 pt-1">
                            <input id="op-modif-DO-nao" class="form-check-input"
                                type="radio" name="modificacao-DO" value="op-modif-DO-nao"
                                {% if ficha.modif_do == "op-modif-DO-nao" %} checked {% endif %}
                            />
                            <label class="form-check-label" for="op-modif-DO-nao">
                                Não
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-2">
                    <div class="col-2">
                        <span style="text-decoration: underline;">
                            N° do Campo
                        </span>
                    </div>
                    <div class="col-5">
                        <span style="text-decoration: underline;">
                            Informação original
                        </span>
                    </div>
                    <div class="col-5">
                        <span style="text-decoration: underline;">
                            Informação nova
                        </span>
                    </div>
                </div>
                <div>
                    <div class="d-flex mt-2">
                        <div class="col-2">
                            <input id="num-campo1" type="number"
                                class="form-control input-dado"
                                {% if ficha.num_campo1 != "0" %}
                                    value="{{ ficha.num_campo1 }}"
                                {% endif %}
                            />
                        </div>
                        <div class="col-5">
                            <input id="info-original1" class="form-control input-dado"
                                value="{{ ficha.info_original1 }}"/>
                        </div>
                        <div class="col-5">
                            <input id="info-nova1" class="form-control input-dado"
                                value="{{ ficha.info_nova1 }}"/>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="col-2">
                            <input id="num-campo2" type="number"
                                class="form-control input-dado"
                                {% if ficha.num_campo2 != "0" %}
                                    value="{{ ficha.num_campo2 }}"
                                {% endif %}
                            />
                        </div>
                        <div class="col-5">
                            <input id="info-original2" class="form-control input-dado"
                                value="{{ ficha.info_original2 }}"/>
                        </div>
                        <div class="col-5">
                            <input id="info-nova2" class="form-control input-dado"
                                value="{{ ficha.info_nova2 }}"/>
                        </div>
                    </div>
                    <div class="d-flex mt-2">
                        <div class="col-2">
                            <input id="num-campo3" type="number"
                                class="form-control input-dado"
                                {% if ficha.num_campo3 != "0" %}
                                    value="{{ ficha.num_campo3 }}"
                                {% endif %}
                            />
                        </div>
                        <div class="col-5">
                            <input id="info-original3" class="form-control input-dado"
                                value="{{ ficha.info_original3 }}"/>
                        </div>
                        <div class="col-5">
                            <input id="info-nova3" class="form-control input-dado"
                                value="{{ ficha.info_nova3 }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bloco mt-3">
        <div class="d-flex">
            <span class="titulo-bloco negrito">
                III. Encerramento da Investigação
            </span>
        </div>
        <div class="d-flex mt-2">
            <div class="col-8 d-flex align-items-center">
                <span class="numeracao negrito">15</span>
                <label class="label-nowrap mx-1">
                    Nome do responsável pelo preenchimento
                </label>
                <input id="nome-responsavel" class="form-control input-dado"
                    value="{{ ficha.nome_notificante }}"/>
            </div>
            <div class="col-4 d-flex align-items-center mx-1">
                <span class="numeracao negrito">16</span>
                <label class="label-nowrap mx-1">
                    Telefone de contato:
                </label>
                <input id="fone-notificante" class="form-control input-dado mx-1"
                    value="{{ ficha.telefone_notificante }}"/>
            </div>
        </div>
        <div class="d-flex mt-2">
            <div class="col-8 d-flex align-items-center">
                <span class="numeracao negrito">17</span>
                <label for="campo-dt-notificacao" class="label-nowrap mx-1">
                    Data do preenchimento da ficha:
                </label>
                <input id="campo-dt-notificacao" type="date"
                    class="form-control input-dado"
                    style="width: 60%;"
                    value="{{ ficha.dt_notificacao }}"
                />
            </div>
            <div class="col-4 d-flex align-items-center mx-1"
                style="flex-wrap: wrap;">
                <span class="numeracao negrito">18</span>
                <label class="label-nowrap mx-1">
                    Informação anexa:
                </label>
                <div class="form-check m-0 mx-2">
                    <input id="op-info-anexa-sim" class="form-check-input"
                        type="radio" name="informacao-anexa" value="op-info-anexa-sim"
                        {% if ficha.info_anexa == "op-info-anexa-sim" %} checked {% endif %}
                    />
                    <label class="form-check-label" for="op-info-anexa-sim">
                        Sim
                    </label>
                </div>
                <div class="form-check m-0 mx-2">
                    <input id="op-info-anexa-nao" class="form-check-input"
                        type="radio" name="informacao-anexa" value="op-info-anexa-nao"
                        {% if ficha.info_anexa == "op-info-anexa-nao" %} checked {% endif %}
                    />
                    <label class="form-check-label" for="op-info-anexa-nao">
                        Não
                    </label>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <div class="col-12 d-flex align-items-center"
                style="flex-wrap: wrap;">
                <span class="numeracao negrito">19</span>
                <label class="label-nowrap mx-1">
                    Destino da ficha MIF:
                </label>
                <div class="form-check m-0 mx-4">
                    <input id="op-modulo-web" class="form-check-input"
                        type="checkbox" name="destino-mif" value="op-modulo-web"
                        {% if ficha.destino_web == "1" %} checked {% endif %}
                    />
                    <label class="form-check-label" for="op-modulo-web">
                        1. Enviada para elimentação do módulo Web.
                    </label>
                </div>
                <div class="form-check m-0">
                    <input id="op-integrar-fichas" class="form-check-input"
                        type="checkbox" name="destino-mif" value="op-integrar-fichas"
                        {% if ficha.destino_integ == "1" %} checked {% endif %}
                    />
                    <label class="form-check-label" for="op-integrar-fichas">
                        2. Integrar as demais fichas na investigação do óbito materno.
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

{% block rodape_ficha %}
    {% include 'rodape_edicao_ficha.html' %}
{% endblock %}
