.avisoAcidenteAnimalPeconhento {
  border: 3px solid #000;
  border-radius: 8px;
  padding: 4px;
}
.avisoAcidenteAnimalPeconhento span {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}
.dadosComplementaresAcidenteAnimPec {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 4px;
  text-align: center;
}

.input-esquerda {
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
}

.div-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2px;
}

.container-input-dado-manifestacao {
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
}

.container-input-dado-manifestacao-sistemica {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.container-manifestacao-sistemica-linha {
  display: flex;
  justify-content: space-evenly;
}

.input-outros {
  border-radius: 8px;
}

.input-dado-soroterapia-linha {
  display: flex;
  justify-content: space-evenly;
}

.input-dado-complicacoes-locais-linha {
  display: flex;
  justify-content: space-evenly;
}

.container-complicacoes-sistematicas-linha {
  display: flex;
  justify-content: space-evenly;
}

.input-manifestacao-sistematica {
  display: ruby;
}

.container-input-dado {
  display: ruby;
}

.input-tipo-soroterapia {
  display: ruby;
}

.input-tipo-complicacoes-locais {
  display: ruby;
}
.container-tipo-complicacoes-sistematicas {
  display: ruby;
}

.linha {
  display: flex;
}

.linha-interna {
  border-bottom: 1px solid black;
  flex: 1;
  align-content: end;
}

.name-tb {
  font-size: 18px;
  font-weight: bold;
}
.column-tb {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2px;
}

.linha-top-tb {
  display: flex;
}

.tb-headers {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.conteudo-tb {
  padding: 2px;
}

.tb-center {
  font-size: 14px;
  align-self: center;
  align-content: center;
}
.adjust-height-tb {
  display: grid;
}

#conteudo-tb {
  padding-left: 43px;
}

.bloco-tb {
  margin-top: 0px;
}

.padding-tb {
  padding: 10px;
}

#input-outras-manifestacao-local {
  border-radius: 8px;
}

.textArea {
  display: flex;
  justify-content: center;
}
#titulo-tb {
  font-size: 18px;
  font-weight: bold;
}
