.btnNovaObservacao {
    font-size: small;
    font-weight: bold;
    padding: 7px 22px;
    border-radius: 30px;
    background-color: white;
    color: var(--dark-color);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.btnNovaObservacao:hover {
    color: white;
    background-color: var(--dark-color);
}

.inicialUsuario {
    background: var(--main-color);
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}

.containerObservacao {
    background: white;
    border-radius: 5px;
    padding: 13px 17px;
    margin-left: 10px;
    width: -webkit-fill-available;
    border-left: 5px solid var(--main-color);
    font-size: 14px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

























