<div class="linha-dados justify-content-around pb-3">
  <div class="input-group flex-nowrap campo-hut">
    <label class="input-group-text negrito" for="prontuario">Prontuário</label>
    <input type="number" class="form-control" id="prontuario" />
  </div>
  <div class="input-group flex-nowrap campo-hut">
    <label class="input-group-text negrito" for="setor">Setor</label>
    <input class="form-control" id="setor" />
  </div>
</div>
<div class="ficha">
  <input id="cod-formulario" value="1" aria-label="" hidden disabled />
  <div class="mt-2 container-cabecalho">
    <div class="col-3 left-div negrito">
      <label>República Federativa do Brasil</label>
      <label>Ministério do Saúde</label>
    </div>
    <div class="col-6 center-div">
      <label class="negrito">SINAN</label>
      <label>SISTEMA DE INFORMAÇÃO DE AGRAVOS DE NOTIFICAÇÃO</label>
      <label class="negrito"
        >FICHA INVESTIGAÇÃO ATENDIMENTO ANTI-RÁB-ICO HUMANO</label
      >
    </div>
    <div class="col-3 right-div">
      <div class="input-group flex-nowrap">
        <label class="input-group-text negrito" for="numero-ficha">N°</label>
        <input type="number" class="form-control" id="numero-ficha" />
      </div>
    </div>
  </div>
  <section>
    <div class="bloco-dados">
      <div class="titulo-bloco">
        <span>Dados Gerais</span>
      </div>
      <div class="conteudo-bloco">
        <div class="linha-dados">
          <div class="col-12 div-input">
            <div class="info-elevada-com-input">
              <div>
                <span class="numeracao">1</span>
                <label for="campo-tipo-notificacao">Tipo de Notificação</label>
              </div>
              <input
                id="campo-tipo-notificacao"
                class="input-dado-quadrado form-control"
                type="number"
                min="1"
                max="4"
              />
            </div>
            <div class="container-input-dado descricao-tipos-meia-altura">
              <span class="mb-1">
                1 - Negativa&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 -
                Individual&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 -
                Surto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4 - Inquérito
                Tracoma
              </span>
            </div>
          </div>
        </div>
        <div class="linha-dados">
          <div class="col-7 div-input">
            <div class="info-elevada">
              <span class="numeracao">2</span>
              <label for="campo-agravoDoenca">Agravo/doença</label>
            </div>
            <div class="container-input-dado">
              <b>ATENDIMENTO ANTI-RÁBICO HUMANO.</b>
            </div>
          </div>
          <div class="col-2 div-input">
            <div class="info-elevada-sem-numeracao">
              <label for="campo-cid">Código (CID10)</label>
            </div>
            <div id="cid-id-AntiRabica">
              <b>W 64</b>
            </div>
          </div>
          <div class="col-3 div-input">
            <div class="info-elevada">
              <span class="numeracao">3</span>
              <label for="campo-dt-notificacao">Data da Notificação</label>
            </div>
            <div class="container-input-dado">
              <input
                id="campo-dt-notificacao"
                type="date"
                class="input-dado form-control"
              />
            </div>
          </div>
        </div>
        <div class="linha-dados">
          <div class="col-1 div-input">
            <div class="info-elevada">
              <span class="numeracao">4</span>
              <label for="campo-uf-notificacao">UF</label>
            </div>
            <div class="container-input-dado">
              <input
                id="campo-uf-notificacao"
                type="text"
                class="input-dado form-control"
                maxlength="2"
              />
            </div>
          </div>
          <div class="col-9 div-input">
            <div class="info-elevada">
              <span class="numeracao">5</span>
              <label for="campo-municipio-notificacao"
                >Município de Notificação</label
              >
            </div>
            <div class="container-input-dado">
              <input
                id="campo-municipio-notificacao"
                type="text"
                class="input-dado form-control"
              />
            </div>
          </div>
          <div class="col-2 div-input">
            <div class="info-elevada-sem-numeracao">
              <label for="campo-cod-ibge-notificacao">Código (IBGE)</label>
            </div>
            <div class="container-input-dado">
              <input
                id="campo-cod-ibge-notificacao"
                type="number"
                class="input-dado form-control"
              />
            </div>
          </div>
        </div>
        <div class="linha-dados">
          <div class="col-6 div-input">
            <div class="info-elevada">
              <span class="numeracao">6</span>
              <label for="campo-unidade-saude">
                Unidade de Saúde (ou outra fonte notificadora)
              </label>
            </div>
            <div class="container-input-dado">
              <input
                id="campo-unidade-saude"
                type="text"
                class="input-dado form-control"
              />
            </div>
          </div>
          <div class="col-3 div-input">
            <div class="info-elevada-sem-numeracao">
              <label for="campo-cod-unidade-saude">Código</label>
            </div>
            <div class="container-input-dado">
              <input
                id="campo-cod-unidade-saude"
                type="number"
                class="input-dado form-control"
              />
            </div>
          </div>
          <div class="col-3 div-input">
            <div class="info-elevada">
              <span class="numeracao">7</span>
              <label for="campo-dt-sintomas">
                Data dos Primeiros Sintomas
              </label>
            </div>
            <div class="container-input-dado">
              <input
                id="campo-dt-sintomas"
                type="date"
                class="input-dado form-control"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="bloco-dados">
  <div class="titulo-bloco">
    <span>Notificação Individual</span>
  </div>
  <div class="conteudo-bloco">
    <div class="linha-dados">
      <div class="col-9 div-input">
        <div class="info-elevada">
          <span class="numeracao">8</span>
          <label for="campo-nome-paciente">Nome do Paciente</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-nome-paciente"
            type="text"
            class="input-dado form-control"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">9</span>
          <label for="campo-dt-nascimento">Data de Nascimento</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-dt-nascimento"
            type="date"
            class="input-dado form-control"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">10</span>
          <label for="campo-idade">(ou) Idade</label>
        </div>
        <div class="container-input-dado">
          <div class="col-4">
            <input
              id="campo-idade"
              type="number"
              class="input-dado form-control"
              maxlength="3"
              oninput="atribuirValor(this.id)"
            />
          </div>
          <div class="col-7 container-tipo-idade">
            <input
              type="number"
              id="campo-tipo-idade"
              class="input-dado-quadrado form-control"
              min="1"
              max="4"
              aria-label=""
              oninput="atribuirValor(this.id)"
            />
            <ul class="letra-miuda">
              <li>1 - Hora</li>
              <li>2 - Dia</li>
              <li>3 - Mês</li>
              <li>4 - Ano</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-2 div-input campo-sexo">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">11</span>
            <label for="campo-sexo">Sexo</label>
          </div>
          <input
            id="campo-sexo"
            type="text"
            class="input-dado-quadrado form-control"
            maxlength="1"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado letra-miuda">
          <ul>
            <li>M - Masculino</li>
            <li>F - Feminino</li>
            <li>I - Ignorado</li>
          </ul>
        </div>
      </div>
      <div class="col-4 div-input campo-gestante">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">12</span>
            <label for="campo-gestante">Gestante</label>
          </div>
          <input
            id="campo-gestante"
            type="number"
            class="input-dado-quadrado form-control"
            min="1"
            max="9"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div
          class="container-input-dado descricao-tipos-meia-altura letra-miuda pt-2 px-2"
        >
          1-1°Trimestre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          2-2°Trimestre&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3-3°Trimestre<br />
          4-Idade gestacional ignorada&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          5-Não&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6-Não se aplica<br />
          9-Ignorado
        </div>
      </div>
      <div class="col-3 div-input campo-raca">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">13</span>
            <label for="campo-raca">Raça/Cor</label>
          </div>
          <input
            id="campo-raca"
            type="number"
            class="input-dado-quadrado form-control"
            min="1"
            max="9"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div
          class="container-input-dado descricao-tipos-meia-altura letra-miuda pt-2 px-2"
        >
          1-Branca&nbsp;&nbsp;&nbsp;&nbsp;
          2-Preta&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          3-Amarela<br />
          4-Parda&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          5-Indígena&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9-Ignorado
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-12 div-input campo-escolaridade">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">14</span>
            <label for="campo-escolaridade">Escolaridade</label>
          </div>
          <input
            id="campo-escolaridade"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div
          class="container-input-dado letra-miuda descricao-tipos-meia-altura px-2"
        >
          0-Analfabeto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1-1° a 4° série incompleta
          do EF (antigo primário ou 1° grau) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2-4°
          série completa do EF (antigo primário ou 1° grau)<br />
          3-5° à 8° série incomlpleta do EF (antigo ginásio ou 1° grau)
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4-Ensino fundamental completo (antigo
          ginásio ou 1° grau) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5-Ensino médio
          incompleto (antigo colegial ou 2° grau)<br />
          6-Ensino médio completo (antigo colegial ou 2° grau)
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7-Educação superior incompleta
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8-Educação superior completa
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9-Ignorado
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10-Não se aplica
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-4 div-input">
        <div class="info-elevada">
          <span class="numeracao">15</span>
          <label for="campo-numero-sus">Número do Cartão SUS</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-numero-sus"
            type="number"
            class="input-dado form-control"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
      <div class="col-8 div-input">
        <div class="info-elevada">
          <span class="numeracao">16</span>
          <label for="campo-nome-mae">Nome da mãe</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-nome-mae"
            type="text"
            class="input-dado form-control"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bloco-dados">
  <div class="titulo-bloco">
    <span>Dados de Residência</span>
  </div>
  <div class="conteudo-bloco">
    <div class="linha-dados">
      <div class="col-1 div-input">
        <div class="info-elevada">
          <span class="numeracao">17</span>
          <label for="campo-uf-residencia">UF</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-uf-residencia"
            type="text"
            class="input-dado form-control"
            maxlength="2"
          />
        </div>
      </div>
      <div class="col-6 div-input">
        <div class="info-elevada">
          <span class="numeracao">18</span>
          <label for="campo-municipio-residencia">
            Município de Residência
          </label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-municipio-residencia"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-2 div-input">
        <div class="info-elevada-sem-numeracao">
          <label for="campo-cod-ibge-residencia">Código (IBGE)</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-cod-ibge-residencia"
            type="number"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">19</span>
          <label for="campo-distrito-residencia">Distrito</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-distrito-residencia"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">20</span>
          <label for="campo-bairro-residencia">Bairro</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-bairro-residencia"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-7 div-input">
        <div class="info-elevada">
          <span class="numeracao">21</span>
          <label for="campo-logradouro-residencia">
            Logradouro (rua, avenida, ...)
          </label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-logradouro-residencia"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-2 div-input">
        <div class="info-elevada-sem-numeracao">
          <label for="campo-codigo-residencia">Código</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-codigo-residencia"
            type="number"
            class="input-dado form-control"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-2 div-input">
        <div class="info-elevada">
          <span class="numeracao">22</span>
          <label for="campo-numero-residencia">Número</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-numero-residencia"
            type="number"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-7 div-input">
        <div class="info-elevada">
          <span class="numeracao">23</span>
          <label for="campo-complemento-residencia">
            Complemento (apto, casa, ...)
          </label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-complemento-residencia"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">24</span>
          <label for="campo-geo-campo1">Geo campo 1</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-geo-campo1"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">25</span>
          <label for="campo-geo-campo2">Geo campo 2</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-geo-campo2"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-6 div-input">
        <div class="info-elevada">
          <span class="numeracao">26</span>
          <label for="campo-ponto-ref-residencia"> Ponto de Referência </label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-ponto-ref-residencia"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">27</span>
          <label for="campo-cep-residencia">CEP</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-cep-residencia"
            type="text"
            class="input-dado form-control"
            maxlength="9"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-3 div-input">
        <div class="info-elevada">
          <span class="numeracao">28</span>
          <label for="campo-telefone-residencia">(DDD) Telefone</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-telefone-residencia"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
      <div class="col-3 div-input campo-zona-residencia">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">29</span>
            <label for="campo-zona-residencia">Zona</label>
          </div>
          <input
            id="campo-zona-residencia"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="1"
          />
        </div>
        <div class="container-input-dado descricao-tipos letra-miuda">
          1 - Urbana&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 - Rural<br />
          3 - Periurbana&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;9 - Ignorado
        </div>
      </div>
      <div class="col-6 div-input">
        <div class="info-elevada">
          <span class="numeracao">30</span>
          <label for="campo-pais-residencia">
            País (se residente fora do Brasil)
          </label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-pais-residencia"
            type="text"
            class="input-dado form-control"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 dados-complementares">
  <strong> Dados Complementares do Caso </strong>
</div>
<div class="bloco-dados">
  <div class="titulo-bloco">
    <span>Antecedentes Epidemiológicos</span>
  </div>
  <div class="conteudo-bloco">
    <div class="linha-dados">
      <div class="col-12 div-input">
        <div class="info-elevada">
          <span class="numeracao">31</span>
          <label for="campo-Ocupacao">Ocupação</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-Ocupacao"
            type="text"
            class="input-dado form-control"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-12 div-input campo-tipo-exposicao">
        <div class="info-elevada">
          <span class="numeracao">32</span>
          <label for="campo-tipo-exposicao"
            >Tipo de Exposição ao Vírus Rábico</label
          >
        </div>
        <div class="input-check-box-exposicao">
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-1"
              value="sim"
              onclick="check_box(this.className, this.id, true)"
            />
            <label class="form-check-label" for="Checkbox-exposure-1"
              >1 - sim</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-2"
              value="nao"
              onclick="check_box(this.className, this.id)"
            />
            <label class="form-check-label" for="Checkbox-exposure-2"
              >2 - nao</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-9"
              value="ignorado"
              onclick="check_box(this.className, this.id)"
            />
            <label class="form-check-label" for="Checkbox-exposure-9"
              >9 - ignorado</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-4"
              value="ContatoDireto"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-exposure-4"
              >Contato Indireto</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-5"
              value="Arranhadura"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-exposure-5"
              >Arranhadura</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-6"
              value="Lambedura"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-exposure-6"
              >Lambedura</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-7"
              value="Mordedura"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-exposure-7"
              >Mordedura</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-exposure"
              type="checkbox"
              id="Checkbox-exposure-8"
              value="Outro"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-exposure-8"
              >Outro</label
            >
          </div>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-12 div-input campo-localizacao">
        <div class="info-elevada">
          <span class="numeracao">33</span>
          <label for="campo-localizacao">Localização</label>
        </div>
        <div class="input-check-box">
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-1"
              value="sim"
              onclick="check_box(this.className, this.id, true)"
            />
            <label class="form-check-label" for="Checkbox-loc-1">1 - sim</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-2"
              value="nao"
              onclick="check_box(this.className, this.id)"
            />
            <label class="form-check-label" for="Checkbox-loc-2">2 - nao</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-3"
              value="desconhecida"
              onclick="check_box(this.className, this.id)"
            />
            <label class="form-check-label" for="Checkbox-loc-3"
              >3 - Desconhecida</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-4"
              value="Mucosa"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-loc-4">Mucosa</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-5"
              value="Cabeca/pescoco"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-loc-5"
              >Cabeça/pescoço</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-6"
              value="maos/pes"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-loc-6"
              >mãos/pés</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-7"
              value="Tronco"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-loc-7">Tronco</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-8"
              value="MembrosSuperiores"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-loc-8"
              >Membros Superiores</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-location"
              type="checkbox"
              id="Checkbox-loc-9"
              value="MembrosInferiores"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-loc-9"
              >Membros Inferiores</label
            >
          </div>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-3 div-input campo-ferimento">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">34</span>
            <label for="campo-ferimento">Ferimento</label>
          </div>
          <input
            id="campo-ferimento"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          1-Único 2-Múltiplo<br />
          3-Sem ferimento 9-Ignorado
        </div>
      </div>
      <div class="col-9 div-input campo-tipo-ferimento">
        <div class="info-elevada">
          <span class="numeracao">35</span>
          <label for="campo-localizacao">Tipo de Ferimento</label>
        </div>
        <div class="input-check-box-ferimento">
          <div class="form-check form-check-inline">
            <input
              class="form-check-ferimento"
              type="checkbox"
              id="Checkbox-tipo-ferimento-1"
              value="sim"
              onclick="check_box(this.className, this.id, true)"
            />
            <label class="form-check-label" for="Checkbox-tipo-ferimento-1"
              >1 - sim</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-ferimento"
              type="checkbox"
              id="Checkbox-tipo-ferimento-2"
              value="nao"
              onclick="check_box(this.className, this.id)"
            />
            <label class="form-check-label" for="Checkbox-tipo-ferimento-2"
              >2 - nao</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-ferimento"
              type="checkbox"
              id="Checkbox-tipo-ferimento-9"
              value="ignorado"
              onclick="check_box(this.className, this.id)"
            />
            <label class="form-check-label" for="Checkbox-tipo-ferimento-9"
              >9 - ignorado</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-ferimento"
              type="checkbox"
              id="Checkbox-tipo-ferimento-4"
              value="Profundo"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-tipo-ferimento-4"
              >Profundo</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-ferimento"
              type="checkbox"
              id="Checkbox-tipo-ferimento-5"
              value="Superficial"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-tipo-ferimento-5"
              >Superficial</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-ferimento"
              type="checkbox"
              id="Checkbox-tipo-ferimento-6"
              value="Dilacerante"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-tipo-ferimento-6"
              >Dilacerante</label
            >
          </div>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-4 div-input">
        <div class="info-elevada">
          <span class="numeracao">36</span>
          <label for="campo-dt-exposicao">Data da Exposição</label>
        </div>
        <div class="container-input-dado">
          <input
            id="campo-dt-exposicao"
            type="date"
            class="input-dado form-control"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
      <div class="col-8 div-input">
        <div class="info-elevada">
          <span class="numeracao">37</span>
          <label for="campo-antecedentes-antiRabico"
            >Tem Antecedentes de Tratamento Anti-Rábico</label
          >
        </div>
        <div class="input-check-box-Antecedentes-AntiRabico">
          <div class="form-check form-check-inline">
            <input
              class="form-check-antecedentes"
              type="checkbox"
              id="Checkbox-tipo-antecedentes-AntiRabico-1"
              value="sim"
              onclick="check_box(this.className, this.id, true)"
            />
            <label
              class="form-check-label"
              for="Checkbox-tipo-antecedentes-AntiRabico-1"
              >1 - sim</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-antecedentes"
              type="checkbox"
              id="Checkbox-tipo-antecedentes-AntiRabico-2"
              value="nao"
              onclick="check_box(this.className, this.id)"
            />
            <label
              class="form-check-label"
              for="Checkbox-tipo-antecedentes-AntiRabico-2"
              >2 - nao</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-antecedentes"
              type="checkbox"
              id="Checkbox-tipo-antecedentes-AntiRabico-9"
              value="ignorado"
              onclick="check_box(this.className, this.id)"
            />
            <label
              class="form-check-label"
              for="Checkbox-tipo-antecedentes-AntiRabico-9"
              >9 - ignorado</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-antecedentes"
              type="checkbox"
              id="Checkbox-tipo-antecedentes-AntiRabico-4"
              value="Pré-Exposição"
              disabled=""
            />
            <label
              class="form-check-label"
              for="Checkbox-tipo-antecedentes-AntiRabico-4"
              >Pré-Exposição</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-antecedentes"
              type="checkbox"
              id="Checkbox-tipo-antecedentes-AntiRabico-5"
              value="Pós-Exposição"
              disabled=""
            />
            <label
              class="form-check-label"
              for="Checkbox-tipo-antecedentes-AntiRabico-5"
              >Pós-Exposição</label
            >
          </div>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-6 div-input campo-se-houve">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">38</span>
            <label for="campo-se-houve">Se Houve, quando foi concluído?</label>
          </div>
          <input
            id="campo-se-houve"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          1-Até 90 dias &nbsp&nbsp&nbsp&nbsp&nbsp 2-Após 90 dias
        </div>
      </div>
      <div class="col-6 div-input campo-doses-aplicada">
        <div class="info-elevada">
          <div>
            <span class="numeracao">39</span>
            <label for="campo-se-houve">Nº de Doses Aplicadas</label>
          </div>
        </div>
        <div class="numero-de-doses-aplicadas">
          <input
            type="number"
            name="numero-doses"
            id="num-doses-aplicada"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-12 div-input campo-especie-animal">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">40</span>
            <label for="campo-animal-agressor"
              >Espécie do Animal Agressor</label
            >
          </div>
          <input
            id="campo-animal-agressor"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1- Canina &nbsp&nbsp&nbsp&nbsp 2-Felina &nbsp&nbsp&nbsp&nbsp
            3-Quiróptera(Morcego) &nbsp&nbsp&nbsp&nbsp 4- Primata(macaco)
            <br />
            5- Raposa &nbsp&nbsp&nbsp&nbsp 6- Herbívoro doméstico (especificar)
            &nbsp&nbsp&nbsp&nbsp 7- Outra
          </p>
          <input
            type="text"
            name="animal-tipo"
            id="animal-agressor"
            size="10"
            style="height: 30px; */margin-left: 20px; margin-top: 20px"
            oninput="atribuirValor(this.id)"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-6 div-input campo-cond-animal">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">41</span>
            <label for="campo-cond-animal"
              >Condição do Animal para Fins de Conduta do Tratamento</label
            >
          </div>
          <input
            id="campo-cond-animal"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Sadio &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Suspeito
            &nbsp&nbsp&nbsp&nbsp&nbsp 3 - Raivoso &nbsp&nbsp&nbsp&nbsp&nbsp 4 -
            Morto/ Desaparecido
          </p>
        </div>
      </div>
      <div class="col-6 div-input campo-animal-passivo-observacao">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">42</span>
            <label for="campo-animal-passivo-observacao"
              >Animal Passível de Observação ? (Somente para Cão ou Gato)</label
            >
          </div>
          <input
            id="campo-animal-passivo-observacao"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Sim &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Não &nbsp&nbsp&nbsp&nbsp&nbsp
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bloco-dados">
  <div class="titulo-bloco">
    <span>Tratamento Atual</span>
  </div>
  <div class="conteudo-bloco">
    <div class="linha-dados">
      <div class="col-12 div-input campo-tratamento-indicado">
        <div class="info-elevada-com-input">
          <span class="numeracao">43</span>
          <label for="campo-tratamento-indicado">Tratamento Indicado</label>
          <input
            id="campo-tratamento-indicado"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Pré Exposição &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Dispensa de
            Tratamento &nbsp&nbsp&nbsp&nbsp&nbsp 3 - Observação do animal (se
            cão ou gato) <br />
            4 - Observação + Vacina &nbsp&nbsp&nbsp&nbsp&nbsp 5 - Vacina
            &nbsp&nbsp&nbsp&nbsp&nbsp 6 - Soro + Vacina
            &nbsp&nbsp&nbsp&nbsp&nbsp 7 - Esquema de Reexposição
          </p>
        </div>
      </div>
    </div>
    <div>
      <bold>Vacina</bold>
    </div>
    <div class="linha-dados">
      <div class="col-12 div-input campo-lab-vacina">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">44</span>
            <label for="campo-lab-vacina">Laboratório Produtor Vacina</label>
          </div>
          <input
            id="campo-lab-vacina"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Instituto Butantan &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Instituto Vital
            Brasil &nbsp&nbsp&nbsp&nbsp&nbsp 3 - Aventis Pasteur
            &nbsp&nbsp&nbsp&nbsp&nbsp 4 - Outro Especificar
          </p>
          <input
            type="text"
            name="laboratorio"
            id="lab-prod-vacina"
            size="10"
            style="height: 30px"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-6 div-input campo-lote-vacina">
        <div class="info-elevada">
          <div>
            <span class="numeracao">45</span>
            <label for="campo-lote-vacina">Número do Lote</label>
          </div>
        </div>
        <input
          id="campo-lote-vacina"
          type="text"
          class="campo-lote-vacina"
          maxlength="15"
          size="15"
          oninput="atribuirValor(this.id)"
        />
      </div>
      <div class="col-6 div-input Data-do-vencimento-vacina">
        <div class="info-elevada">
          <div>
            <span class="numeracao">46</span>
            <label for="campo-data-vencimento-vacina">Data do Vencimento</label>
          </div>
        </div>
        <input
          id="campo-data-vencimento-vacina"
          type="date"
          class="campo-data-vencimento-vacina"
          oninput="atribuirValor(this.id)"
        />
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-12 div-input" style="display: flex">
        <div class="info-elevada">
          <span class="numeracao">47</span>
          <label for="campo-data-vacinas"
            >Datas das Aplicações da Vacina (dia e mês)</label
          >
        </div>
        <div class="col-2 div-input">
          <div class="info-elevada">
            <span class="numeracao">1</span>
            <label for="campo-data-vacina-1">1ª Dose</label>
          </div>
          <div class="container-input-dado">
            <input
              id="campo-data-vacina-1"
              type="date"
              class="input-dado form-control"
              oninput="atribuirValor(this.id)"
            />
          </div>
        </div>
        <div class="col-2 div-input">
          <div class="info-elevada">
            <span class="numeracao">2</span>
            <label for="campo-data-vacina-2">2ª Dose</label>
          </div>
          <div class="container-input-dado">
            <input
              id="campo-data-vacina-2"
              type="date"
              class="input-dado form-control"
              oninput="atribuirValor(this.id)"
            />
          </div>
        </div>
        <div class="col-2 div-input">
          <div class="info-elevada">
            <span class="numeracao">3</span>
            <label for="campo-data-vacina-3">3ª Dose</label>
          </div>
          <div class="container-input-dado">
            <input
              id="campo-data-vacina-3"
              type="date"
              class="input-dado form-control"
              oninput="atribuirValor(this.id)"
            />
          </div>
        </div>
        <div class="col-2 div-input">
          <div class="info-elevada">
            <span class="numeracao">4</span>
            <label for="campo-data-vacina-4">4ª Dose</label>
          </div>
          <div class="container-input-dado">
            <input
              id="campo-data-vacina-4"
              type="date"
              class="input-dado form-control"
              oninput="atribuirValor(this.id)"
            />
          </div>
        </div>
        <div class="col-2 div-input">
          <div class="info-elevada">
            <span class="numeracao">5</span>
            <label for="campo-data-vacina-5">5ª Dose</label>
          </div>
          <div class="container-input-dado">
            <input
              id="campo-data-vacina-5"
              type="date"
              class="input-dado form-control"
              oninput="atribuirValor(this.id)"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-12 div-input">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">48</span>
            <label for="campo-cond-final-animal"
              >Condição Final do Animal (após período de observação)</label
            >
          </div>
          <div class="container-input-dado">
            <input
              id="campo-cond-final-animal"
              type="number"
              class="input-dado-quadrado form-control"
              maxlength="2"
              oninput="atribuirValor(this.id)"
            />
          </div>
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Negativo para Raiva (Clínica) &nbsp&nbsp&nbsp&nbsp&nbsp 2 -
            Negativo para Raiva (Laboratório) &nbsp&nbsp&nbsp&nbsp&nbsp 3 -
            Positivo para Raiva (Clínica) <br />
            4 - Positivo para Raiva (Laboratório) &nbsp&nbsp&nbsp&nbsp&nbsp 5 -
            Morto/ Sacrificado/ Sem Diagnóstico &nbsp&nbsp&nbsp&nbsp&nbsp 9 -
            Ignorado
          </p>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-4 div-input interrupacao-tratamento">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">49</span>
            <label for="campo-interrupcao-tratamento"
              >Interrupção do Tratamento</label
            >
          </div>
          <input
            id="campo-interrupcao-tratamento"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>1 - Sim &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Não</p>
        </div>
      </div>
      <div class="col-8 div-input motivo-da-interrupcao">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">50</span>
            <label for="campo-motivo-interrupcao"
              >Qual o Motivo da Interrupção</label
            >
          </div>
          <input
            id="campo-motivo-interrupcao"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Indicação da Unidade de Saúde &nbsp&nbsp&nbsp&nbsp&nbsp 2 -
            Abandono &nbsp&nbsp&nbsp&nbsp&nbsp 3 - Transferência
          </p>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-9 div-input camp-procurou-paciente">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">51</span>
            <label for="campo-procurou-paciente"
              >Se houve Abandono do Tratamento, a Unidade de Saúde Procurou o
              Paciente</label
            >
          </div>
          <input
            id="campo-procurou-paciente"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>1 - Sim &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Não</p>
        </div>
      </div>
      <div class="col-3 div-input event-adverso-vacina">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">52</span>
            <label for="campo-event-adverso-vacina"
              >Evento Adverso à Vacina</label
            >
          </div>
          <input
            id="campo-event-adverso-vacina"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Sim &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Não &nbsp&nbsp&nbsp&nbsp&nbsp
            9 - Ignorado
          </p>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-3 div-input indicacao-soro-antirabico">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">53</span>
            <label for="campo-indicacao-soro-antirabico"
              >Indicação do Soro Antirábico</label
            >
          </div>
          <input
            id="campo-indicacao-soro-antirabico"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id);"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Sim &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Não &nbsp&nbsp&nbsp&nbsp&nbsp
            9 - Ignorado
          </p>
        </div>
      </div>
      <div class="col-3 div-input peso-paciente">
        <div class="info-elevada">
          <div>
            <span class="numeracao">54</span>
            <label for="campo-peso-paciente">Peso do Paciente(kg)</label>
          </div>
        </div>
        <input
          id="campo-peso-paciente"
          type="number"
          class="form-control"
          maxlength="3"
          style="padding: 0; height: 30px; width: 80px"
          oninput="atribuirValor(this.id)"
        />
      </div>
      <div class="col-6 div-input campo-quantidade-soro">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">55</span>
            <label for="campo-quantidade-soro"
              >Quantidade de Soro Aplicada (ml)</label
            >
          </div>
          <input
            id="campo-opt-quantidade-soro"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="3"
            oninput="atribuirValor(this.id)"
          />
        </div>
        <div style="display: flex; flex-direction: row">
          <input
            id="campo-quantidade-soro"
            type="number"
            class="campo-quantidade-soro"
            style="
              margin-right: 5px;
              border-radius: 8px;
              height: 30px;
              width: 80px;
            "
            oninput="atribuirValor(this.id)"
          />ml&nbsp&nbsp&nbsp&nbsp&nbsp
          <p>1 - Heterólogo &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Homólogo</p>
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-6 div-input infiltracao-de-soro-local-ferimento">
        <div class="info-elevada">
          <div>
            <span class="numeracao">56</span>
            <label for="campo-infiltracao-de-soro-local-ferimento"
              >Infiltração de Soro no(s) Local(is) do(s) Ferimento(s)</label
            >
          </div>
        </div>
        <div class="input-check-box">
          <div class="form-check form-check-inline">
            <input
              class="form-check-soro-infiltracao-local"
              type="checkbox"
              id="Checkbox-slf-1"
              value="sim"
              onclick="check_boxV2sn(this.className, this.id, true)"
            />
            <label class="form-check-label" for="Checkbox-slf-1">1 - sim</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-soro-infiltracao-local"
              type="checkbox"
              id="Checkbox-slf-2"
              value="nao"
              onclick="check_boxV2sn(this.className, this.id)"
            />
            <label class="form-check-label" for="Checkbox-slf-2">2 - nao</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-soro-infiltracao-local"
              type="checkbox"
              id="Checkbox-slf-3"
              value="Total"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-slf-3"
              >3 - Total</label
            >
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-soro-infiltracao-local"
              type="checkbox"
              id="Checkbox-slf-4"
              value="Parcial"
              disabled=""
            />
            <label class="form-check-label" for="Checkbox-slf-4">Parcial</label>
          </div>
        </div>
      </div>
      <div class="col-6 div-input lab-prod-soro-anti-rabico">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">57</span>
            <label for="campo-lab-prod-soro-anti-rabico"
              >Laboratório Produtor do Soro Anti-Rábico</label
            >
          </div>
          <input
            id="campo-lab-prod-soro-anti-rabico"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id);"
          />
        </div>
        <div class="container-input-dado descricao-tipos-meia-altura">
          <p>
            1 - Instituto Butantan &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Instituto Vital
            Brasil &nbsp&nbsp&nbsp&nbsp&nbsp <br />
            3 - Aventis Pasteur &nbsp&nbsp&nbsp&nbsp&nbsp 4 - Outro Especificar
          </p>
          <input
            type="text"
            name="laboratorio"
            id="lab-prod-soro-anti-rabico"
            size="10"
            style="height: 30px; position: absolute; left: 462px; top: 20px"
          />
        </div>
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-4 div-input num-partida">
        <div class="info-elevada">
          <div>
            <span class="numeracao">58</span>
            <label for="campo-num-partida">Número da Partida</label>
          </div>
        </div>
        <input
          id="campo-num-partida"
          type="text"
          class="form-control"
          maxlength="15"
          style="padding: 0; height: 30px; width: 80px"
          oninput="atribuirValor(this.id)"
        />
      </div>
      <div class="col-4 div-input event-adverse-soro-AR">
        <div class="info-elevada-com-input">
          <div>
            <span class="numeracao">59</span>
            <label for="campo-event-adverse-soro-AR"
              >Evento Adverso ao Soro Anti-Rábico</label
            >
          </div>
          <input
            id="campo-event-adverse-soro-AR"
            type="number"
            class="input-dado-quadrado form-control"
            maxlength="2"
            oninput="atribuirValor(this.id);"
          />
        </div>
        <p>
          1 - Sim &nbsp&nbsp&nbsp&nbsp&nbsp 2 - Não &nbsp&nbsp&nbsp&nbsp&nbsp 9
          - Ignorado
        </p>
      </div>
      <div class="col-4 div-input data-encerramento-caso">
        <div class="info-elevada">
          <div>
            <span class="numeracao">60</span>
            <label for="campo-data-encerramento-caso"
              >Data do Encerramento do Caso</label
            >
          </div>
        </div>
        <input
          id="campo-data-encerramento-caso"
          type="date"
          class="form-control"
          oninput="atribuirValor(this.id)"
        />
      </div>
    </div>
    <div class="observacoes">
      <textarea
        id="campo-observacoes-AR"
        class="form-control"
        rows="3"
        oninput="atribuirValor(this.id)"
        placeholder="Observações:"
      ></textarea>
    </div>
  </div>
</div>
<div class="bloco-dados">
  <div class="titulo-bloco">
    <span>Investigador</span>
  </div>
  <div class="conteudo-bloco">
    <div class="linha-dados">
      <div class="col-9 div-input municipio-unit-saud-investigador">
        <div class="info-elevada">
          <div>
            <label for="campo-municipio-unit-saud-investigador"
              >Município/Unidade de Saúde</label
            >
          </div>
        </div>
        <input
          id="campo-municipio-unit-saud-investigador"
          type="text"
          class="form-control"
          maxlength="50"
          oninput="atribuirValor(this.id)"
        />
      </div>
      <div class="col-3 div-input cod-unit-saud-investigador">
        <div class="info-elevada">
          <div>
            <label for="campo-cod-unit-saud-investigador"
              >Cód. da Unid. de Saúde</label
            >
          </div>
        </div>
        <input
          id="campo-cod-unit-saud-investigador"
          type="text"
          class="form-control"
          maxlength="10"
          oninput="atribuirValor(this.id)"
        />
      </div>
    </div>
    <div class="linha-dados">
      <div class="col-5 div-input investigador-name">
        <div class="info-elevada">
          <div>
            <label for="campo-investigador-name">Nome do Investigador</label>
          </div>
        </div>
        <input
          id="campo-investigador-name"
          type="text"
          class="form-control"
          maxlength="50"
          oninput="atribuirValor(this.id)"
        />
      </div>
      <div class="col-4 div-input investigador-func">
        <div class="info-elevada">
          <div>
            <label for="campo-investigador-func">Função</label>
          </div>
        </div>
        <input
          id="campo-investigador-func"
          type="text"
          class="form-control"
          maxlength="50"
          oninput="atribuirValor(this.id)"
        />
      </div>
      <div class="col-3 div-input Assinatura">
        <div class="info-elevada">
          <div>
            <label for="campo-Assinatura">Assinatura</label>
          </div>
        </div>
        <input
          id="campo-Assinatura"
          type="text"
          class="form-control"
          maxlength="50"
          oninput="atribuirValor(this.id)"
        />
      </div>
    </div>
  </div>
</div>
<footer style="display: flex">
  <div class="col-4">Atendimento Anti-Rabico Humano</div>
  <div class="col-3">Sinan Net</div>
  <div class="col-4">SVS &nbsp&nbsp&nbsp&nbsp&nbsp 27/09/2005</div>
</footer>
