<div class="container-cabecalho">
    <div class="col-3">
        <label>República Federativa do Brasil</label>
        <label>Ministério do Brasil</label>
    </div>
    <div class="col-6">
        <label>SINAN</label>
        <label>SISTEMA DE INFORMAÇÃO DE AGRAVOS DE NOTIFICAÇÃO</label>
        <label>FICHA DE INVESTIGAÇÃO <label class="titulo-tipo-ficha">ACIDENTE DE TRABALHO GRAVE</label></label>
    </div>
    <div class="col-3">
        <label>N°</label>
        <input type="number" name="numero-ficha" min="0">
    </div>
</div>