<div id="fichaAcidenteTrabalho">
    <div class="mt-2 container-cabecalho">
        <div class="col-3 left-div negrito">
            <label>República Federativa do Brasil</label>
            <label>Ministério do Brasil</label>
        </div>
        <div class="col-6 center-div">
            <label class="negrito">SINAN</label>
            <label>SISTEMA DE INFORMAÇÃO DE AGRAVOS DE NOTIFICAÇÃO</label>
            <label>FICHA DE INVESTIGAÇÃO <label class="negrito">ACIDENTE DE TRABALHO GRAVE</label></label>
        </div>
        <div class="col-3 right-div">
            <div class="input-group flex-nowrap">
                <label class="input-group-text negrito" id="addon-wrapping">N°</label>
                <input type="number" class="form-control" aria-label="cod-ficha" aria-describedby="addon-wrapping">
            </div>
        </div>
    </div>
    <div class="mt-2 descricao">
        <label class="negrito">
            Definição de caso: São considerados acidentes de trabalho aqueles que ocorram no exercício da atividade
            laboral,
            ou no percurso de casa para o trabalho e vice-versa (acidentes de trajeto), podendo o trabalhador estar
            inserido tanto no mercado formal quanto no mercado informal de trabalho. São considerados Acidentes de
            Trabalho Graves
            aqueles que resultam em morte, aqueles que resultam em multilações e aqueles que acontecem com menores de
            dezoito anos.
            <br>*Acidente de trabalho fatal: é quando o acidente resulta em óbito imediatamente ou até 12 horas após sua
            ocorrência.
            <br>*Acidentes de trabalho com mutilações: é quando o acidente ocasiona lesão (poli traumatismos,
            ampultações, esmagamentos,
            queimaduras, crânio-encefálico, fratura de coluna, lesão de medula espinhal, trauma comlesõe viscerais,
            eletrocussão, asfixia,
            queimaduras, perda de consciência e aborto) que resulte em internação hospitalar, a qual poderá levar a
            redução temporária ou
            permanente da capacidade para o trabalho.
            <br>*Acidentes do trabalho em crianças e adolescentes: é quando o acidente de trabalho acontece com pessoas
            menores de dezoito anos.
        </label>
    </div>
    <div class="container-dadosBasicos">
        <div class="container-dadosGerais">

        </div>
    </div>
</div>





















