<div id="{{ id_tabela }}" class="tabela mb-5">
    <div class="titulo d-flex justify-content-between align-items-center mt-2 py-3 px-3">
        <div class="col-1">
            <i class="clicavel font-xlarge bi bi-arrow-left-square-fill"
               onclick="requisicaoGetPadrao('{% url 'pagina_inicial' %}')">
            </i>
        </div>
        <div class="col d-flex justify-content-center">
            <span class="negrito">{{ titulo }}</span>
        </div>
        <div class="col-1 font-xlarge d-flex justify-content-end">
            <i class="bi bi-funnel-fill"></i>
        </div>
    </div>
    <div class="cabecalho font-smaller d-flex py-2 px-3">
        <div class="col-2">
            <label class="negrito">Número</label>
        </div>
        <div class="col-4">
            <label class="negrito">Notificação</label>
        </div>
        <div class="col-2">
            <label class="negrito">Setor</label>
        </div>
        <div class="col-2">
            <label class="negrito">Notificante</label>
        </div>
        <div class="col-2">
            <label class="negrito">Data</label>
        </div>
    </div>
    {% for ficha in fichas %}
    <div class="linha-tabela clicavel font-smaller d-flex align-items-center py-2 px-3
            {% if ficha.quant_obs and status_fichas == 1 %} linha-destacada {% endif %}"
            onclick="requisicaoGetPadrao('{% url 'visualizar_ficha' ficha.cod_ficha ficha.cod_tipo_ficha %}')">
        <div class="col-2">
            <label class="clicavel font-weight-600">{{ ficha.numero_ficha }}</label>
        </div>
        <div class="col-4 d-flex flex-column">
            <label class="clicavel font-weight-600">{{ ficha.nome_tipo_ficha }}</label>
            <label class="clicavel">{{ ficha.nome_paciente }}</label>
        </div>
        <div class="col-2">
            <label class="clicavel font-weight-600">{{ ficha.setor }}</label>
        </div>
        <div class="col-2">
            <label class="clicavel font-weight-600">{{ ficha.nome_notificante }}</label>
        </div>
        <div class="col-2">
            <label class="clicavel font-weight-600">{{ ficha.dt_notificacao }}</label>
        </div>
    </div>
    {% endfor %}
</div>