{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<title>INFOCARE</title>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex, follow">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'geral/css/geral.css' %}">
	<link rel="stylesheet" href="{% static 'infocare/css/login.css' %}">
</head>

<body>
	<div class="container-login">
		<div class="wrap-login">
<!--			<div class="login-container-title" style="background-image: url('{{ img_url }}');">-->
			<div class="login-container-title" style="background-image: url('http://127.0.0.1:8000/imagem/0');">
				<span class="login-title">Login</span>
			</div>

		    <div class="modal fade" id="mensagem-retorno" aria-hidden="true" tabindex="-1">
		        <div class="modal-dialog modal-dialog-centered">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <h1 class="modal-title fs-5"></h1>
		                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		                </div>
		                <div class="modal-body"></div>
		            </div>
		        </div>
		    </div>

			<form class="login-form">
				{% csrf_token %}
				<div class="wrap-input">
					<span class="label-input">Usuário</span>
					<input id="usuario" class="input" type="text" name="usuario" placeholder="Digite seu usuário" onkeydown="checkEnter(event)">
					<span class="focus-input"></span>
				</div>
				<div class="wrap-input" data-validate="Password is required">
					<span class="label-input">Senha</span>
					<input id="senha" class="input" type="password" name="senha" placeholder="Digite sua senha" onkeydown="checkEnter(event)">
					<span class="focus-input"></span>
				</div>
			</form>

			<div class="container-login-form-btn">
				<button class="login-form-btn" onclick="logarUsuario('{% url 'logar_usuario' %}', '{% url 'home' %}')">
					Entrar
				</button>
			</div>
		</div>
	</div>

	<script src="{% static 'geral/js/geral.js' %}"></script>
	<script src="{% static 'infocare/js/login.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.js"></script>
</body>
</html>