<div id="modalNovaObservacao" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% csrf_token %}
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                <div class="d-flex flex-column">
                    <label class="pb-1" for="descricao">Descrição</label>
                    <textarea id="descricao" class="form-control"></textarea>
                </div>
                <input id="concluida" class="form-control" type="number" value="0" hidden>
                <input id="cod_ficha" class="form-control" type="number" value="{{ cod_ficha }}" hidden>
                <input id="cod_usuario" class="form-control" type="number" value="{{ cod_usuario }}" hidden>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn"
                        onclick="salvarObservacao('{% url 'registrar_observacao' %}', 'modalNovaObservacao')">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center mt-3 mb-4">
    <i class="clicavel font-xlarge bi bi-arrow-left-square-fill" style="color: var(--dark-color);"
       onclick="requisicaoGetPadrao('{% url 'visualizar_ficha' cod_ficha=cod_ficha cod_formulario=cod_formulario %}')">
    </i>
    <button class="btn btnNovaObservacao" onclick="abrirModalNovaObservacao()">
        Pendência
    </button>
</div>
<div class="pb-3">
    {% if observacoes %}
    {% for obs in observacoes %}
    <div class="d-flex mb-3">
        <div class="mt-2">
            <span class="inicialUsuario rounded-circle
                  {% if obs.cod_autor == cod_usuario %}
                  background-letra-inicial-meu-usuario
                  {% else %}
                  background-letra-inicial-outro-usuario
                  {% endif %}
            ">{{ obs.inicial_autor }}</span>
        </div>
        <div class="containerObservacao
            {% if obs.cod_autor == cod_usuario %}
            borda-esquerda-meu-usuario
            {% else %}
            borda-esquerda-outro-usuario
            {% endif %}
        ">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <span class="negrito">{{ obs.nome_autor }}</span>
                    {% if obs.concluida %}
                    <div class="status mx-1 text-success">
                        <span class="mx-1">• Concluida</span>
                        <i class="bi bi-check-circle-fill"></i>
                    </div>
                    {% else %}
                    <div class="status mx-1 text-danger">
                        <span class="obs-aberta mx-1">• Em aberto</span>
                        <i class="bi bi-exclamation-triangle-fill"></i>
                    </div>
                    {% endif %}
                </div>
                <span class="negrito">{{ obs.dataHora_cadastro }}</span>
            </div>
            <div class="my-3">
                {{ obs.descricao }}
            </div>
            {% if obs.concluida %}
            <div class="d-flex justify-content-end">
                <span class="font-smaller">
                    Concluido por {{ obs.nome_concluinte }}
                </span>
            </div>
            {% else %}
            <div class="d-flex justify-content-end">
                <button class="btn {% if obs.cod_autor == cod_usuario %} btn-minha-obs {% else %} btn-obs-outro {% endif %}"
                        onclick="requisicaoGetPadrao('{% url 'fechar_observacao' cod_ficha=cod_ficha cod_obs=obs.codigo %}')">
                    Fechar
                </button>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% if status_ficha_aberta == 'pendente' %}
    <div class="d-flex justify-content-center mt-4">
        <button class="btn btnTudoPronto"
                onclick="enviarFichaParaConclusao('{% url 'marcar_ficha_preliminar' cod_ficha=cod_ficha %}')">
            Tudo Pronto
        </button>
    </div>
    {% endif %}
    {% else %}
    <div class="d-flex justify-content-center pt-3">
        <span class="negrito font-xlarge">Não há pendências para esta ficha!</span>
    </div>
    {% endif %}
</div>


















