<div class="d-flex justify-content-between align-items-center mt-3 mb-4">
    <i class="clicavel font-xlarge bi bi-arrow-left-square-fill" style="color: var(--dark-color);"
       onclick="requisicaoGetPadrao('{% url 'pagina_inicial' %}')">
    </i>
    <button class="btn btnNovaObservacao">Nova Observação</button>
</div>
<div class="pb-3">
    {% if observacoes %}
    {% for obs in observacoes %}
    <div class="d-flex mb-3">
        <div class="mt-2">
            <span class="inicialUsuario rounded-circle
                  {% if obs.cod_autor == cod_usuario %}
                  background-letra-inicial-meu-usuario
                  {% else %}
                  background-letra-inicial-outro-usuario
                  {% endif %}
            ">{{ obs.inicial_autor }}</span>
        </div>
        <div class="containerObservacao
            {% if obs.cod_autor == cod_usuario %}
            borda-esquerda-meu-usuario
            {% else %}
            borda-esquerda-outro-usuario
            {% endif %}
        ">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <span class="negrito">{{ obs.nome_autor }}</span>
                    {% if obs.concluida %}
                    <div class="status mx-1 text-success">
                        <span class="mx-1">• Concluida</span>
                        <i class="bi bi-check-circle-fill"></i>
                    </div>
                    {% else %}
                    <div class="status mx-1 text-danger">
                        <span class="mx-1">• Em aberto</span>
                        <i class="bi bi-exclamation-triangle-fill"></i>
                    </div>
                    {% endif %}
                </div>
                <span class="negrito">{{ obs.dataHora_cadastro }}</span>
            </div>
            <div class="my-3">
                {{ obs.descricao }}
            </div>
            {% if obs.concluida %}
            <div class="d-flex justify-content-end">
                <span class="font-smaller">
                    Concluido por TESTE
                </span>
            </div>
            {% else %}
                <div class="d-flex justify-content-end">
                    <button class="btn
                    {% if obs.cod_autor == cod_usuario %}
                    btn-minha-obs
                    {% else %}
                    btn-obs-outro
                    {% endif %}
                    ">
                        FECHAR
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="d-flex justify-content-center pt-3">
        <span class="negrito font-xlarge">Não há obervações para esta ficha!</span>
    </div>
    {% endif %}
</div>


















