<div class="modal fade" id="modalTiposFormulario" tabindex="-1" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Escolha uma Ficha</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column">
                {% for formulario in formularios %}
                    <label class="clicavel my-1" onclick="abrirFormularioEscolhido('{% url 'abrir_formulario' codigo=formulario.codigo %}')">
                        {{ formulario.nome }}
                    </label>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row row-cards">
    <div id="card-home-novaNotificacao" class="col-5 card-home" onclick="abrirMenuTiposDeFormulario()">
        <span class="label-card-home">NOVA NOTIFICAÇÃO</span>
    </div>
    <div id="card-home-preliminares" class="col-5 card-home" onclick="abrirOpcaoColorida('{% url 'fichas_preliminares' %}')">
        <span class="label-card-home">NOTIFICAÇÕES PRELIMINARES</span>
        <span class="card-home-quantidade">{{ quant_fichas_preliminares }}</span>
    </div>
</div>
<div class="row row-cards">
    <div id="card-home-pendentes" class="col-5 card-home" onclick="abrirOpcaoColorida('{% url 'fichas_pendentes' %}')">
        <span class="label-card-home">NOTIFICAÇÕES PENDENTES</span>
        <span class="card-home-quantidade">{{ quant_fichas_pendentes }}</span>
    </div>
    <div id="card-home-concluidas" class="col-5 card-home" onclick="abrirOpcaoColorida('{% url 'fichas_concluidas' %}')">
        <span class="label-card-home">NOTIFICAÇÕES CONCLUÍDAS</span>
    </div>
    <br>
</div>