<div class="row row-cards">
    <div id="card-home-novaNotificacao" class="col-5 card-home">
        <span class="label-card-home">NOVA NOTIFICAÇÃO</span>
    </div>
    <div id="card-home-preliminares" class="col-5 card-home">
        <span class="label-card-home">NOTIFICAÇÕES PRELIMINARES</span>
        <span class="card-home-quantidade">3</span>
    </div>
</div>
<div class="row row-cards">
    <div id="card-home-pendentes" class="col-5 card-home">
        <span class="label-card-home">NOTIFICAÇÕES PENDENTES</span>
        <span class="card-home-quantidade">1</span>
    </div>
    <div id="card-home-concluidas" class="col-5 card-home">
        <span class="label-card-home">NOTIFICAÇÕES CONCLUÍDAS</span>
    </div>
    <br>
</div>