<div class="rodape-ficha">

    {% if visualizadores %}
        <div id="anexos" class="mb-5">
            <div class="d-flex justify-content-center py-4">
                <span class="negrito">Quem viu esta ficha?</span>
            </div>
            <ul>
                {% for visualizador in visualizadores %}
                    <li>
                        - {{ visualizador }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {% if ficha.arquivos %}
        <div id="anexos" class="mb-5">
            <div class="d-flex justify-content-center py-4">
                <span class="negrito">Arquivos Anexados</span>
            </div>
            <ul>
                {% for arquivo in ficha.arquivos %}
                    <li>
                        <!-- <i class="bi bi-link-45deg me-1"></i> -->
                        <a href="{{ arquivo.url }}" target="_blank">
                            <i class="bi bi-file-earmark-pdf-fill me-1"></i>
                            {{ arquivo.nome }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if status_ficha_aberta == 4 %}
        <form id="uploadForm" class="pb-5" enctype="multipart/form-data"
            method="POST" action="{% url 'upload' 0 %}">
            {% csrf_token %}
            <div class="d-flex justify-content-center py-4">
                <span class="negrito">Anexar Arquivos PDF</span>
            </div>
            <div id="containerInputsPDF">
                <div class="d-flex align-items-center">
                    <!-- <input id="redirecionamento" name="redirecionamento" hidden> -->
                    <input id="file" name="file" type="file" accept=".pdf" class="form-control">
                    <div class="btnCorPrincipal btn mx-2 px-2 py-1" onclick="addInputFile()">
                        <i class="bi bi-file-earmark-plus"></i>
                        PDF
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
  
    <div id="containerBtnAcao" class="d-flex justify-content-center align-items-center my-3">
        {% if status_ficha_aberta == 1 and acesso_usuario != 3 %}
            <button class="btn btnDescartar btn mx-4"
                    onclick="requisicaoGetPadrao('{% url 'marcar_ficha_descartada' ficha.codigo %}')">
                DESCARTAR
            </button>
        {% endif %}

        {% if status_ficha_aberta == 3 and acesso_usuario != 3 %}
            <button class="btn btnDescartar btn mx-4"
                    onclick="requisicaoGetPadrao('{% url 'marcar_ficha_preliminar' ficha.codigo status_ficha_aberta %}')">
                RESTAURAR
            </button>
        {% endif %}

        <button class="btnCancelar btn mx-4" onclick="retornoListaFichas()">
            VOLTAR
        </button>

        {% if status_ficha_aberta == 1 and acesso_usuario != 3 %}
        <button class="btnCorPrincipal btn mx-4"
                onclick="verificarMudancaEstadoFicha('{% url 'marcar_ficha_concluida' ficha.codigo %}')">
            TUDO CERTO
        </button>
        {% endif %}

        {% if status_ficha_aberta == 4 %}
        <button class="btnCorPrincipal btn mx-4"
                onclick="cadastrarFichaNotificacao('{% url 'registrar_ficha' %}')">
            ATUALIZAR
        </button>
        {% endif %}
    </div>

    <button class="btnAbrirPendencias btn"
            onclick="requisicaoGetPadrao('{% url 'pendencias' ficha.codigo %}')">
        <i class="mx-1 bi bi-chat-right-text-fill"></i>

        {% if ficha.quant_pendencias %}
            <span id="possuiPendencias" class="rounded-circle"></span>
        {% endif %}
    </button>
</div>