<div class="linha-dados justify-content-between">
    <div class="col-1">
        <i class="clicavel font-xlarge bi bi-arrow-left-square-fill"
            style="color: var(--dark-color);" onclick="retornoListaFichas()">
        </i>
    </div>
    <div class="d-flex justify-content-around pb-3">
        <input id="cod_formulario" value="{{ ficha.cod_tipo_ficha }}" aria-label="" hidden>
        <div class="input-group flex-nowrap campo-hut">
            <label class="input-group-text negrito" for="prontuario">
                Prontuário
            </label>
            <input id="prontuario" type="number" class="form-control"
                {% if ficha.prontuario != "0" %}
                    value="{{ ficha.prontuario }}"
                {% endif %}
            />
        </div>
        <div class="input-group flex-nowrap campo-hut">
            <label class="input-group-text negrito" for="setor">
                Setor
            </label>
            <input id="setor" value="{{ ficha.setor }}" class="form-control"/>
        </div>
    </div>
    <div class="col-1"></div>
</div>