{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, follow" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>Infocare</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'geral/css/geral.css' %}" />
    <link rel="stylesheet" href="{% static 'geral/css/base.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'infocare/css/pagina_inicial.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'infocare/css/cssGeralFichas.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'infocare/css/fichaAcidenteTrabalho.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'infocare/css/fichaViolenciaInterpessoal.css' %}"
    />
  </head>

  <body>
    <div class="sidebar">
      <div id="logo-details">
        <div id="logo-name">INFOCARE</div>
      </div>

      <div>
        <ul class="nav-list">
          <li>
            <a
              class="opcao-menu-lateral"
              href="#"
              onclick="abrirOpcaoPaginaInicial()"
            >
              <i class="bx bx-home-alt-2"></i>
              <span class="links_name">Página inicial</span>
            </a>
          </li>
          <li>
            <a
              class="opcao-menu-lateral"
              href="#"
              onclick="abrirOpcaoUsuarios()"
            >
              <i class="bx bx-chat"></i>
              <span class="links_name">Usuários</span>
            </a>
          </li>
          <li>
            <a class="opcao-menu-lateral" href="#" onclick="abreFechaMenu()">
              <i class="bx bx-cog"></i>
              <span class="links_name">Configurações</span>
            </a>
          </li>
        </ul>
      </div>
      <!--            <div>-->
      <!--                <a href="#">-->
      <!--                    <i class='bx bx-cog'></i>-->
      <!--                    <span class="links_name">Sair</span>-->
      <!--                </a>-->
      <!--            </div>-->
    </div>

    <section class="home-section">
      <nav id="barra-superior">
        <i id="btnMenu" class="bx bxs-grid-alt"></i>
        <i class="bx bxs-bell"></i>
        <i class="bx bxs-bell-ring" style="display: none"></i>
      </nav>
      <div id="conteudo"></div>
    </section>

    <script src="{% static 'geral/js/base.js' %}"></script>
    <script src="{% static 'geral/js/geral.js' %}"></script>
    <script src="{% static 'infocare/js/pagina_inicial.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="% static 'infocare/js/fichaNotificacaoGeral.js' %"></script>
  </body>
</html>
