* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--light-color);
}

.sidebar {
    background: var(--dark-color);
    padding: 6px 14px;
    position: fixed;
    height: 100%;
    z-index: 99;
    left: -28px;
    width: 0;
    top: 0;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar #logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar #logo-details #logo-name {
    opacity: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.5s ease;
}

.sidebar.open #logo-details #logo-name {
    opacity: 1;
}

.sidebar i {
    color: white;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    padding-left: 0;
    height: 100%;
}

.sidebar li {
    position: relative;
    list-style: none;
    margin: 8px 0;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--main-color);
    justify-content: flex-start;
    flex-direction: row;
}

.sidebar li a:hover {
    background: white;
}

.sidebar li a .links_name {
    opacity: 0;
    color: white;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--main-color);
}

.sidebar li i {
    color: white;
    font-size: 18px;
    border-radius: 12px;
}

.home-section {
    top: 0;
    min-height: 100vh;
    position: relative;
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open ~ .home-section {
    left: 250px;
    width: calc(100% - 250px);
}

#barra-superior {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--dark-color);
    background-color: white;
    justify-content: space-between;
}

#barra-superior i {
    font-size: 25px;
}
