.btnAbrirPendencias {
    background-color: var(--dark-color);
    border-radius: 50%;
    position: fixed;
    padding: 12px;
    color: white;
    bottom: 17px;
    right: 27px;
}

.btnAbrirPendencias:hover {
    color: var(--dark-color);
    background-color: white;
}

.btnAbrirPendencias #possuiPendencias {
    border: 2px solid var(--light-color);
    background-color: orange;
    position: absolute;
    padding: 7px;
    top: -1px;
}

.btnNovaPendencia {
    font-size: small;
    font-weight: bold;
    padding: 7px 22px;
    border-radius: 30px;
    background-color: white;
    color: var(--dark-color);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.btnNovaPendencia:hover {
    color: white;
    background-color: var(--dark-color);
}

.inicialUsuario {
    padding: 10px 15px;
    font-weight: bold;
    color: white;
}

.containerPendencia {
    background: white;
    border-radius: 5px;
    padding: 13px 17px;
    margin-left: 10px;
    width: -webkit-fill-available;
    font-size: 14px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}

.containerPendencia .btn-pendencia-outro {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.containerPendencia .btn-pendencia-outro:hover {
    background-color: var(--main-color);
    color: white;
}

.containerPendencia .btn-minha-pendencia {
    color: #4A97C2;
    background-color: white;
    border: 2px solid #4A97C2;
}

.containerPendencia .btn-minha-pendencia:hover {
    background-color: #4A97C2;
    color: white;
}

.background-letra-inicial-outro-usuario {
    background: var(--main-color);
}

.background-letra-inicial-meu-usuario {
    background: #4A97C2;
}

.borda-esquerda-outro-usuario {
    border-left: 5px solid var(--main-color);
}

.borda-esquerda-meu-usuario {
    border-left: 5px solid #4A97C2;
}

.btnTudoPronto {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--main-color);
    color: white;
}

.btnTudoPronto:hover {
    background-color: white;
    color: var(--main-color);
}



















